.example-spacer {
    flex: 1 1 auto;
  }

  table {
    width: 90%;
    margin: auto auto auto;
    margin-bottom: 20px;
    border-radius: 8px;
  }

  .buttonPrincipal {
    width: 90%;
    margin: auto auto auto;
    margin-bottom: 5px;
    border-radius: 8px;
  }

  th.mat-header-cell {
    text-align: center;
    width: 100px;
  }
  
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
  }
  