<div class="buttonPrincipal">
    <button mat-raised-button color="primary" (click)="openDialog()">Adicionar Ordem de Serviço</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="Titulo">
        <th mat-header-cell *matHeaderCellDef> Titulo </th>
        <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>

    <ng-container matColumnDef="CNPJ">
        <th mat-header-cell *matHeaderCellDef> CNPJ </th>
        <td mat-cell *matCellDef="let element"> {{element.cnpj}} </td>
    </ng-container>

    <ng-container matColumnDef="NomeCliente">
        <th mat-header-cell *matHeaderCellDef> Nome Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
    </ng-container>

    <ng-container matColumnDef="NomePrestador">
        <th mat-header-cell *matHeaderCellDef> Nome Prestador </th>
        <td mat-cell *matCellDef="let element"> {{element.nomePrestador}} </td>
    </ng-container>

    <ng-container matColumnDef="CpfPrestador">
        <th mat-header-cell *matHeaderCellDef> Cpf Prestador </th>
        <td mat-cell *matCellDef="let element"> {{element.cpfPrestador}} </td>
    </ng-container>

    <ng-container matColumnDef="dataExecucao">
        <th mat-header-cell *matHeaderCellDef> Data Execução </th>
        <td mat-cell *matCellDef="let element"> {{element.dataExecucao | date: 'dd/MM/yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="Valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let element"> {{element.valor | currency:'BRL' }} </td>
    </ng-container>

    <ng-container matColumnDef="Editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                (click)="EditarOrdemServico(row)">
                <mat-icon>sticky_note_2</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="Deletar">
        <th mat-header-cell *matHeaderCellDef> Excluir </th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                (click)="DeletarArquivo(row)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="OrdensColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: OrdensColumns;"></tr>
</table>