<h2 mat-dialog-title>Nova ordem de servico</h2>
<mat-dialog-content class="mat-typography">
    <form class="example-form" [formGroup]="formCadastro" (ngSubmit)="Cadastrar()">
        <table class="example-full-width" cellspacing="2">
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Titulo</mat-label>
                        <input matInput formControlName="Titulo" required>
                    </mat-form-field>
                    <mat-error *ngIf="!formCadastro.get('Titulo')?.valid && formCadastro.get('Titulo')?.touched">
                        <h6>Campo é obrigatorio</h6>
                    </mat-error>
                </td>
            </tr>
        </table>
        <table class="example-full-width" cellspacing="2">
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Cpf Prestador</mat-label>
                        <input matInput formControlName="CpfPrestador">
                    </mat-form-field>
                    <mat-error
                        *ngIf="!formCadastro.get('CpfPrestador')?.valid && formCadastro.get('CpfPrestador')?.touched">
                        <h6>CPF inválido</h6>
                    </mat-error>
                </td>
            </tr>
        </table>
        <table class="example-full-width" cellspacing="2">
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Nome Prestador</mat-label>
                        <input matInput formControlName="NomePrestador">
                    </mat-form-field>
                    <mat-error
                        *ngIf="!formCadastro.get('NomePrestador')?.valid && formCadastro.get('NomePrestador')?.touched">
                        <h6>Campo é obrigatorio</h6>
                    </mat-error>
                </td>
            </tr>
        </table>

        <table class="example-full-width" cellspacing="2">
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Nome Cliente</mat-label>
                        <input matInput formControlName="NomeCliente" required>
                    </mat-form-field>
                    <mat-error
                        *ngIf="!formCadastro.get('NomeCliente')?.valid && formCadastro.get('NomeCliente')?.touched">
                        <h6>Campo é obrigatorio</h6>
                    </mat-error>
                </td>
            </tr>
        </table>

        <table class="example-full-width" cellspacing="2">
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>CNPJ</mat-label>
                        <input matInput formControlName="CNPJ" required>
                    </mat-form-field>
                    <mat-error *ngIf="!formCadastro.get('CNPJ')?.valid && formCadastro.get('CNPJ')?.touched">
                        <h6>CNPJ inválido</h6>
                    </mat-error>
                </td>
            </tr>
        </table>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Data Execucao</mat-label>
                        <input type="date" matInput formControlName="DataExecucao">
                    </mat-form-field>
                    <mat-error
                        *ngIf="!formCadastro.get('DataExecucao')?.valid && formCadastro.get('DataExecucao')?.touched">
                        <h6>Campo é obrigatorio</h6>
                    </mat-error>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Valor</mat-label>
                        <input matInput type="number" formControlName="Valor">
                    </mat-form-field>
                    <mat-error *ngIf="!formCadastro.get('Valor')?.valid && formCadastro.get('Valor')?.touched">
                        <h6>Campo é obrigatorio</h6>
                    </mat-error>
                </td>
            </tr>
        </table>
        <div class="container-button">
            <button mat-raised-button color="primary" [disabled]="!formCadastro.valid">Salvar</button>
        </div>
    </form>
</mat-dialog-content>

<!-- <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions> -->