.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  .container-button {
    text-align: center;
  }

  
mat-error {
  margin-top: -15px;
}