<p>
  <mat-toolbar color="primary">
    <span>{{title}}</span>
  </mat-toolbar>
</p>
<app-ordem-servico></app-ordem-servico>
<!-- <div class="buttonPrincipal"> 
  <button mat-raised-button color="primary">Adicionar Ordem de Serviço</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="Titulo">
    <th mat-header-cell *matHeaderCellDef> Titulo </th>
    <td mat-cell *matCellDef="let element"> {{element.Titulo}} </td>
  </ng-container>

  <ng-container matColumnDef="CNPJ">
    <th mat-header-cell *matHeaderCellDef> CNPJ </th>
    <td mat-cell *matCellDef="let element"> {{element.CNPJ}} </td>
  </ng-container>

  <ng-container matColumnDef="NomeCliente">
    <th mat-header-cell *matHeaderCellDef> Nome Cliente </th>
    <td mat-cell *matCellDef="let element"> {{element.NomeCliente}} </td>
  </ng-container>

  <ng-container matColumnDef="NomePrestador">
    <th mat-header-cell *matHeaderCellDef> Nome Prestador </th>
    <td mat-cell *matCellDef="let element"> {{element.NomePrestador}} </td>
  </ng-container>

  <ng-container matColumnDef="CpfPrestador">
    <th mat-header-cell *matHeaderCellDef> Cpf Prestador </th>
    <td mat-cell *matCellDef="let element"> {{element.CpfPrestador}} </td>
  </ng-container>

  <ng-container matColumnDef="Valor">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let element"> {{element.Valor}} </td>
  </ng-container>

  <ng-container matColumnDef="Editar">
    <th mat-header-cell *matHeaderCellDef> Editar </th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
        (click)="DeletarArquivo(row.arquivoId)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Deletar">
    <th mat-header-cell *matHeaderCellDef> Excluir </th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
        (click)="DeletarArquivo(row.arquivoId)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="OrdensColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: OrdensColumns;"></tr>
</table> -->